global:
  crds:
    enabled: false

vault:
  role: eso-kv-readers

commonAnnotations:
  argocd.argoproj.io/sync-wave: "2"

serviceAccount:
  name: cert-manager

letsencrypt:
  email: edi1233@gmail.com

certificate:
  dnsNames:
    - "*.edi-it.com"
    - "edi-it.com"
